/*Fontes Importadas*/

@font-face {
	font-family: "Poppins Medium";
	font-weight: normal;
	font-style: normal;
	src: url(../Fonts/Poppins-Medium.ttf);
}

@font-face {
	font-family: "Poppins SemiBold";
	font-weight: normal;
	font-style: normal;
	src: url(../Fonts/Poppins-SemiBold.ttf);
}

@font-face {
	font-family: "Poppins Bold";
	font-weight: normal;
	font-style: normal;
	src: url(../Fonts/Poppins-Bold.ttf);
}

/*Cabeçalhos*/

h1.titulo {
	text-align: center;
	font-family: "Poppins Bold";
	font-size: 50px;
	margin-top: 20px;
	margin-bottom: 60px;
}

h2.numero_hino {
	text-align: center;
	font-family: "Poppins Bold";
	font-size: 30px;
	margin-top: 20px;
}

h3.titulo_hino {
	text-align: center;
	font-family: "Poppins Bold";
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 60px;
}

/*Parágrafos*/

p.botoes {
	text-align: center;
}

p.botoesindice {
	border-radius: 25px;
	padding: 0.5em;
	background-color: #f0f0f0;
	page-break-inside: avoid;
	text-align: center;
  	font-weight: bold;
}

p.estrofe {
	font-family: "Poppins SemiBold";
	font-size: 20px;
	margin-bottom: 30px;
}

p.atencao-titulo {
	font-family: "Poppins Bold";
	text-align: center;
	font-size: 25px;
}

p.atencao {
	font-family: "Poppins SemiBold";
	font-size: 16px;
}

p.andamento {
	font-family: "Poppins Bold";
	font-size: 16px;
	text-align: center;
}

/*Tabelas*/

table.tabela-num {
	border-collapse:collapse;
	border-spacing:0;
	margin:0px auto;
	font-size: 30px;
}

td.celulas {
	text-align:center;
	font-family: "Poppins Bold";
	overflow:hidden;
	padding: 8px;
}

/*Links*/

a {
	text-decoration:none;
}

a.botoes {
	font-size: 30px;
	font-family: "Poppins Bold";
	padding: 8px;
}

a.botoesindice {
	font-size: 30px;
	font-family: "Poppins Bold";
}