/*Fontes Importadas*/

@font-face {
	font-family: "Poppins Medium";
	font-weight: normal;
	font-style: normal;
	src: url(../Assets/Poppins-Medium.ttf);
}

@font-face {
	font-family: "Poppins SemiBold";
	font-weight: normal;
	font-style: normal;
	src: url(../Assets/Poppins-SemiBold.ttf);
}

@font-face {
	font-family: "Poppins Bold";
	font-weight: normal;
	font-style: normal;
	src: url(../Assets/Poppins-Bold.ttf);
}

/*Body*/

body {
	margin: 5%;
}

/*Cabeçalhos*/

h1.titulo {
	text-align: center;
	font-family: "Poppins Bold";
	font-size: 50px;
	margin-top: 40px;
	margin-bottom: 60px;
}

h2.numero_hino {
	text-align: center;
	font-family: "Poppins Bold";
	font-size: 30px;
	margin-top: 20px;
}

h3.titulo_hino,.notas {
	text-align: center;
	font-family: "Poppins Bold";
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 60px;
}

/*Parágrafos*/

p.botoesindice {
	padding: 0.5em;
	page-break-inside: avoid;
	text-align: center;
  	font-weight: bold;
}

p.estrofe {
	font-family: "Poppins SemiBold";
	font-size: 20px;
	margin-bottom: 45px;
}

p.estrofe:last-child {
	margin-bottom: auto;
}

p.atencao-titulo {
	font-family: "Poppins Bold";
	text-align: center;
	font-size: 30px;
	margin-top: 20px;
}

p.atencao-subtitulo {
	font-family: "Poppins Bold";
	font-size: 16px;
	text-align: center;
	margin-bottom: 30px;
}

p.atencao {
	font-family: "Poppins SemiBold";
	font-size: 16px;
}

p.versao, .ytlink {
	font-family: "Poppins SemiBold";
	font-size: 16px;
	text-align: center;
	margin-top: 45px;
}

/*Div*/

div.centralizar-div {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

/*Tabelas*/

table.tabela-num {
	border-collapse:collapse;
	border-spacing:0;
	margin:0px auto;
	font-size: 30px;
}

td.celulas {
	text-align:center;
	font-family: "Poppins Bold";
	overflow:hidden;
	padding: 8px;
}

/*Links*/

a {
	text-decoration:none;
}

a:link {
	color: blue;
}

a:visited {
	color: blue;
  }

a.botoesindice {
	font-size: 30px;
	font-family: "Poppins Bold";
}

/*Imagens*/

img#ytcover {
	display: flex;
    margin-left: auto;
    margin-right: auto;
	max-width: 500px;
    width: 100%;
    height: auto;
	border-radius: 10px;
}
